<ion-header class="ion-no-border" [translucent]="true">
  <app-header [pageTitle]="title"></app-header>
</ion-header>
<p>
  <app-share-app></app-share-app>
</p>

<ion-content>
  <ion-searchbar autocomplete="off" [ngModel]="search" (ngModelChange)="search=$event;setChildOk($event,dataSourcee.data)"  placeholder="Search..." id='inp' showCancelButton="always"></ion-searchbar>


  <mat-tree [dataSource]="dataSourcee" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" [style.display]="!search || node.ok?'block':'none'">
      <li>
        <div class="mat-tree-node">
          <ion-chip color="primary">
            <ion-avatar>
              <img
                src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg"
              />
            </ion-avatar>
            <ion-label
              >{{node.fname}} {{node.lname}}
              <i class="positionset">{{node.children.length}}</i><br />
              <span class="text">{{node.emailid}} </span>
            </ion-label>
          </ion-chip>
        </div>
      </li>
    </mat-tree-node>
    <mat-nested-tree-node *matTreeNodeDef="let node;when: hasChildren" [style.display]="!search || node.ok?'block':'none'" >
      <li class="example-tree-container">
        <div class="mat-tree-node">
          <button
            mat-icon-button
            matTreeNodeToggle
            [matTreeNodeToggleRecursive]="false"
            [attr.aria-label]="'toggle ' + node.fname"
          >
            <mat-icon>
              {{treeControl.isExpanded(node) ? 'remove' : 'add'}}
            </mat-icon>
          </button>
          <ion-chip color="primary">
            <ion-avatar>
              <img
                src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg"
              />
            </ion-avatar>
            <ion-label
              >{{node.fname}} {{node.lname}}
              <i class="positionset">{{node.children.length}}</i><br />
              <span class="text">{{node.emailid}} </span>
            </ion-label>
          </ion-chip>
        </div>
        <ul class="example-tree-nested-node">
          <div *ngIf="treeControl.isExpanded(node)">
            <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </ul>
      </li>
    </mat-nested-tree-node>
  </mat-tree>



  
</ion-content>
