<ion-header>
  <app-header [pageTitle]="title" [headcolor]="headcolor"></app-header>
</ion-header>

<ion-content class="ion-padding" color="primary">
  <section class="layout_padding bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="full">
            <div class="heading_main ion-text-center">
              <h2><span>Our Pricing Plan</span></h2>
              <p>
                Choose an appropriate plan in respective Crypto Currency to get
                the best discount.
              </p>
            </div>
          </div>
        </div>
      </div>
      <ion-slides pager="true" (ionSlideDidChange)="swipeEvent($event)" [options]="slideOpts">
        <ion-slide>
          <ion-card>
            <ion-card-content class="">
              <ion-item class="ion-no-padding" lines="none">
                <ion-label>
                  <strong>ETH</strong>
                </ion-label>
                <ion-img slot="end" style="width: 40px" src="assets/icon/ethone.svg" slot="end"></ion-img>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-content class="">
              <ion-item class="ion-no-padding" lines="none">
                <ion-label>
                  <strong>BTC</strong>
                </ion-label>
                <ion-img slot="end" style="width: 40px" src="assets/icon/btcone.svg" slot="end"></ion-img>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-content class="">
              <ion-item class="ion-no-padding" lines="none">
                <ion-label>
                  <strong>LTC</strong>
                </ion-label>
                <ion-img slot="end" style="width: 40px" src="assets/icon/ltcone.svg" slot="end"></ion-img>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-content class="">
              <ion-item class="ion-no-padding" lines="none">
                <ion-label>
                  <strong>Ravion</strong>
                </ion-label>
                <ion-img slot="end" style="width: 40px" src="assets/icon/revange.png" slot="end"></ion-img>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-content class="">
              <ion-item class="ion-no-padding" lines="none">
                <ion-label>
                  <strong>Zcase</strong>
                </ion-label>
                <ion-img slot="end" style="width: 40px" src="assets/icon/zecone.svg" slot="end"></ion-img>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-content class="">
              <ion-item class="ion-no-padding" lines="none">
                <ion-label>
                  <strong>XMR</strong>
                </ion-label>
                <ion-img slot="end" style="width: 40px" src="assets/icon/monero.svg" slot="end"></ion-img>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>

      <section class="pt-5 pb-5" *ngIf="this.showitem">
        <div class="container">
          <div class="planbox">
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="Ethereum">
                <div class="row mt-5 d-flex align-items-top">
                  <div *ngFor="let plan of planDetailsData">
                    <div class="col-12 col-sm-10 col-md-8 m-auto col-lg-4">
                      <div class="box-price">
                        <h4 class="font-weight-light text-center">
                          {{plan?.planname}}<br />
                          <small>{{plan?.plantag}}</small>
                        </h4>
                        <ul>
                          <meta itemprop="priceCurrency" content="USD" />
                          <li class="gmp-price">
                            <del class="del"> ₹ {{plan?.totalprice}} </del>
                            <i class="fa symboleicon fa-inr" aria-hidden="true"></i>
                            <span itemprop="price" id="silver">₹ {{plan?.discountedprice}}
                            </span>
                           
                          </li>
                          <li class="ethp">
                            67% <span>ETH Availability</span>
                          </li>
                          <li class="contract">
                            {{plan?.contract}} Months Contract
                          </li>

                          <li class="gmp-megaw">
                            Starting With {{plan?.minimumunit}} MH
                          </li>

                          <li class="gmp-plan">
                            {{plan?.contract}} Months Ethereum Mining *
                            <div>
                              <span itemprop="name">Limited supply</span>
                            </div>
                          </li>
                        </ul>
                        <p class="gmp-plan">
                          Maintenance fee: {{plan?.maintenanceper}}%<br />
                          Payout: {{plan?.payout}}<br />
                          Discount: {{plan?.discount}}%
                          <span class="arrow_box">limited time</span><br />
                          Projected Payout: up to {{plan?.projectedpayout}}%<br />{{plan?.comment}}
                          To know more, <a (click)="onslide()">Click Here</a>
                        </p>

                        <p class="stock-text">In Stock</p>

                        <p class="padding-bottom_2 padding-top_2" *ngIf="!sharedService.showCloseButton">
                          <a routerLink="/login" class="purchasebtn" (click)="onClickPurchasePlan(plan)">PURCHASE
                            PLAN</a>
                        </p>
                        <p class="padding-bottom_2 padding-top_2" *ngIf="sharedService.showCloseButton">
                          <a class="purchasebtn" (click)="onClickPurchasePlan(plan)">PURCHASE PLAN</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- /.row -->
        </div>
      </section>
      <section *ngIf="this.outofStok" class=" ion-padding">
        <ion-card class=" ion-no-margin">
          <ion-card-content class=" ion-text-center ionoutof">
            <img  src="assets/icon/out-of-stock.png" width="120" />
            <br>
            <h2 class=" ion-no-margin ion-no-padding" color="primary">We're Sorry</h2>
            <p color="danger">This Plan is currently out of stock</p>
          </ion-card-content>
        </ion-card>
      </section>
    </div>
  </section>
</ion-content>