<ion-header>
  <app-header [pageTitle]="title" [headcolor]="headcolor"></app-header>
</ion-header>

<ion-content class="ion-padding" color="primary">
  <section class="layout_padding bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="full">
            <div class="heading_main ion-text-center">
              <h2><span>Our Pricing Plan</span></h2>
              <p>
                Choose an appropriate plan in respective Crypto Currency to get
                the best discount.
              </p>
            </div>
          </div>
        </div>
      </div>
      <h4 class="ion-text-center">Ethereum Plan</h4>

      <section class="pt-5 pb-5">
        <div class="container">
          <div class="planbox">
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="Ethereum">
                <div class="row mt-5 d-flex align-items-top">
                  <div *ngFor="let plan of planDetailsData">
                    <div class="col-12 col-sm-10 col-md-8 m-auto col-lg-4">
                      <div class="box-price">
                        <h4 class="font-weight-light text-center">
                          {{plan?.planname}}<br />
                          <small>{{plan?.plantag}}</small>
                        </h4>
                        <ul>
                          <meta itemprop="priceCurrency" content="USD" />
                          <li class="gmp-price">
                            <i
                              class="fa symboleicon fa-inr"
                              aria-hidden="true"
                            ></i>
                            <span itemprop="price" id="silver"
                              >₹ {{plan?.perunitinrprice * plan?.minimumunit}}
                            </span>
                            <!-- <sup>00</sup> -->
                          </li>
                          <li class="ethp">
                            67% <span>ETH Availability</span>
                          </li>
                          <li class="contract">
                            {{plan?.contract}} Months Contract
                          </li>

                          <li class="gmp-megaw">5 MH</li>

                          <li class="gmp-plan">
                            24 Months Ethereum Mining *
                            <div>
                              <span itemprop="name">Limited supply</span>
                            </div>
                          </li>
                        </ul>
                        <p class="gmp-plan">
                          Maintenance fee: {{plan?.maintenanceper}}<br />
                          Payout: {{plan?.payout}}<br />
                          Discount: {{plan?.discount}}%
                          <span class="arrow_box">limited time</span><br />
                          Projected Payout: up to {{plan?.projectedpayout}}%<br />{{plan?.comment}}
                          To know more, Click Here
                        </p>

                        <p class="stock-text">In Stock</p>

                        <p class="padding-bottom_2 padding-top_2">
                          <a
                            routerLink="/login"
                            class="purchasebtn"
                            (click)="onClickPurchasePlan(plan)"
                            >PURCHASE PLAN</a
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- /.row -->
        </div>
      </section>
    </div>
  </section>
</ion-content>
