ul{
    padding: 0; list-style: none;
    li{ list-style: none;}
   
}
.contact_information {
    float: left;
    width: 70%;
    margin: 0 15%;
    border-top: solid #eee 1px;
    border-bottom: solid #eee 1px;
    padding-top: 25px;
    padding-bottom: 20px;
}
.contact_information .icon_bottom {
    width: 100%;
}
.icon_bottom {
    width: 30px;
    margin-right: 20px;
    text-align: center;
    font-size: 40px;
    line-height: normal;
}
.adress_cont .info_cont h4 {
    font-size: 16px;
    margin: 0;
    color: #041e37;
    text-align: center;
}
.information_bottom i {
    color: #1b334d;
}
.contact_form {
    float: left;
    margin-top: 40px;
    width: 70%;
    margin-left: 15%;
}
// .bg-gray{ background: #f9f9f9;}
.box-price{    border: 2px solid #cccccc91;
   text-align: center;
//    background: #f8f8f8;
   margin-bottom: 15px;
   box-shadow: 0px 0px 17px #0000001c;
   padding-top: 10px; position: relative; background: #fff;}
.box-price:hover{ background: #ffffff;
   z-index: 1;}
.box-price h4{font-size: 28px; text-transform: capitalize; padding-top: 14px; color:#000}
.box-price h4 small{ font-size: 15px; text-transform: capitalize;}
.gmp-megaw {
   font-size: 30px;
   font-weight: 600;
   color: #3c5e75;
   letter-spacing: 0.03em;
   line-height: 1;
   padding: 10px 0;
   border-top: 2px solid #eef0f0;
   border-bottom: 2px solid #eef0f0;
   margin-bottom: 15px;
   position: relative;}
.gmp-price {
  
   line-height: 1;
   font-weight: 700;
   font-size: 40px;
   color: #e8b830;
   padding: 20px 0 20px 0;
}
.gmp-price b {
   color: #e8b830;
   font-size:30px;
}
.gmp-price i{ font-size: 28px;}
.gmp-price span {
   display: inline-block;
   margin: 0 3px 0 0;
}
.gmp-price sup {
   top: -15px;
}
.gmp-plan {
   min-height: 20px;
   margin-bottom: 10px;
}
.stock-text{    background: #00b23e;
   padding: 3px 10px;
   font-size: 16px;
   color: #fff;
   width: auto;
   margin: 11px auto; position: absolute; left: 0; top: 0;}
.out-stock-text{
   /* background: #ccc;
   color: #9e9e9e; */
   background: #ccc;
   color: #4d4d4d;
   margin-top: 0;
   right: 0;
   bottom: 0;
   /* display: flex; */
   top: 50;
   padding-top: 50%;
   font-size: 30px;
   text-align: center;
}
.purchasebtn{background: #ffdb47;
   color: #614c00;
   border-color: #ffd427;
   max-width: 229px;
   margin: 0 auto;
   border-radius: 6px;
   box-shadow: 2px 2px 2px #e2e2e2;
   padding: 0;
   height: auto;
   line-height: 18px;
   font-size: 21px;
   display: block;
   padding: 14px;text-decoration: none;}
.disabledbtn a{    background: #ccc;
   color: #a4a4a4;}
.box-price .gmp-plan{ color: #898989;}
.padding-top_2{ padding-top: 20px;} 

.nav-tabs{  display: flex;
   justify-content: center;    background: #f2f2f2;
   padding-top: 8px;}
.planbox{ 
    // background: #fff; 
    position: relative;}
.tab-content{ padding-top: 40px;
   padding: 24px 15px 15px 15px;}
.nav-pills>li>a{ font-size: 18px; font-weight: bold;}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
   color: #000;
   background-color: #ffffff;
   border-radius: 0;
  
}
.price-block {
   background: #ffffff;
   color: #3c3838;
   margin: 30px 0 0;
   padding: 0 0 0;
   position: relative;
   text-align: center;
   overflow: hidden;
   z-index: 99;
   transition: 0.9s all;
   border: 0px solid #27c97b;
   box-shadow: 0px 5px 16px 1px #0000002b;
   border-radius: 4px;
   clear: both;
   min-height: 207px;
   width: 100%;
   background: transparent;
   border-radius: 0;
   margin-top: 30px;
   box-shadow: 0 0 45px -25px #000;
   border: solid rgba(255, 255, 255, 0.1) 10px;
}
.price-block h3 {
   background: #f0c100 none repeat scroll 0 0;
   color: #fff;
   
   font-weight: 600;
   line-height: 32px;
   margin: 0;
   padding: 15px 0;
   text-align: center;
   width: 100%;
   text-transform: capitalize;
   color: #ffffff;
   transition: 0.9s all;
   text-align: center;
   font-size: 28px;
   color: #fff;
   font-weight: 500;
   background: rgba(255, 255, 255, .1);
}
.priceInner p {
   font-size: 23px;
   font-weight: 600;
   border-bottom: 1px solid #2d383e;
   padding:20px 0 21px;
   margin: 0;

}
.priceInner p:first-child{    width: 100%;
   background: #e9d16f;
   text-align: center;
   color: #162a40;
   padding: 8px 0;}
.priceInner p:last-child {
   border: 0; color:#fff
}
.cal_values {
   margin-bottom: 20px;
}
.input-group {
   position: relative;
   display: table;
   border-collapse: separate;
}
.cal_values input.form-control {
   color: #333;
   /* font-family: "poppinsregular"; */
   height: 40px;
   margin: 0;
   border-radius: 0;
   font-size: 18px;
   font-weight: normal;
   padding: 0 10px;
   width: 70%;
}
span.cal_btn {
   height: 40px;
   background: #e9d16f;
   text-align: center;
   color: #162a40;
   width: 30%;
   display: inline-block;
   text-align: center;
   font-size: 18px;
   font-weight: 700;
   /* padding: 7px 0 2px; */
   line-height: 40px;
   /* border-radius: 6px; */
}
.float-none{ float: none;}
.priceing-table-main{ margin-top: 60px !important;}
.profit_calculator .nav-tabs{ background: none; border: none; margin-bottom: 15px;}
.profit_calculator .nav-tabs li a{border-radius: 50%;
   width: 80px;
   height: 80px;
   display: flex;
   text-align: center;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-bottom: 0 !important;
   background: #1d364d;
   opacity: .5;}
   .profit_calculator .nav-tabs li.active a{ background: #fff; opacity:1;}
.contract{font-size: 20px;
margin-bottom: 5px;
color: #000;}

   @media(min-width:1280px){
       .img-icon{ 
           max-width:20%;
           /* max-width: 200px; */
   /* opacity: .3; */
       } 
       
     
     
   }
@media(max-width:1279px){
   .img-icon{ max-width:30%;}
}
@media(max-width:767px){
   .layout_padding_2,.layout_padding {
       padding: 20px 0;
   }
.embed-responsive{ margin-top: 40px;}
.gmp-price {
   font-size: 30px;}
.gmp-megaw {
       font-size: 18px;}
       .purchasebtn {
         min-width: none;
           height: auto;
           line-height: 18px;
           font-size: 17px;
           display: inline-block;
           padding: 14px;
       }
.stock-text{ font-size: 12px;}
.nav-pills>li>a {
   font-size: 11px;}
.container .container{  padding: 0;}
.box-price h4 {
   font-size: 24px;}
.profit_calculator .nav li a img { width: 25px !important;}
.animated{ margin-bottom: 10px;}
.topbtn{ display: none;}
.profit_calculator .nav-tabs li a {
   border-radius: 50%;
   width: 60px;
   height: 60px}
.profit_calculator .tab-content{ padding-top: 0 !important;}
}
.position-relative{ position: relative;}
.commigsoon{    position: absolute;
   left: 0;
   right: 0;
   background: #15132626;
   color: #fff;
   font-weight: bold;
   text-align: center;
   bottom: -4px;
   z-index: 1;}
   .template_faq {
       background: #edf3fe none repeat scroll 0 0;
   }
   .panel-group {
       background: #fff none repeat scroll 0 0;
       border-radius: 3px;
       box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.04);
       margin-bottom: 0;
       padding: 30px;
   }
   #accordion .panel {
       border: medium none;
       border-radius: 0;
       box-shadow: none;
       margin: 0 0 15px 10px;
   }
   #accordion .panel-heading {
       border-radius: 30px;
       padding: 0;
   }
   #accordion .panel-title a {
       background: #ffb900 none repeat scroll 0 0;
       border: 1px solid transparent;
       border-radius: 30px;
       color: #fff;
       display: block;
       font-size: 18px;
       font-weight: 600;
       padding: 12px 20px 12px 50px;
       position: relative;
       transition: all 0.3s ease 0s;
   }
   #accordion .panel-title a.collapsed {
       background: #fff none repeat scroll 0 0;
       border: 1px solid #ddd;
       color: #333;
   }
   #accordion .panel-title a::after, #accordion .panel-title a.collapsed::after {
       background: #ffb900 none repeat scroll 0 0;
       border: 1px solid transparent;
       border-radius: 50%;
       box-shadow: 0 3px 10px rgba(0, 0, 0, 0.58);
       color: #fff;
       content: "";
       font-family: fontawesome;
       font-size: 25px;
       height: 55px;
       left: -20px;
       line-height: 55px;
       position: absolute;
       text-align: center;
       top: -5px;
       transition: all 0.3s ease 0s;
       width: 55px;
   }
   #accordion .panel-title a.collapsed::after {
       background: #fff none repeat scroll 0 0;
       border: 1px solid #ddd;
       box-shadow: none;
       color: #333;
       content: "";
   }
   #accordion .panel-body {
       background: transparent none repeat scroll 0 0;
       border-top: medium none;
       padding: 20px 25px 10px 9px;
       position: relative;
   }
   #accordion .panel-body p {
       border-left: 1px dashed #8c8c8c;
       padding-left: 25px;
       text-align: left;
   }
#cssmenu>ul>li.active>a{color: #e9d16f;    }
span.limittime {
   color: #ff9900;
   font-size: 12px;
}
@media (max-width: 540px){
.slide-text h2 {
   font-size: 16px;
   line-height: 15px;
   letter-spacing: 0;
   margin-bottom: 0;
}
.slide-text h2 .cryptoname {
   display: block;
   font-size: 10px;
   font-weight: 300;
   margin-top: 14px;
   letter-spacing: 0.5px;
}
.slide-text>p {
   font-size: 10px !important;
   line-height: 14px !important;
   margin-bottom: 7px !important;
}
}
.d-none{ display: none !important;}
.arrow_box {
   position: relative;
   background: #0b0247;
   color: #fff;
   border-radius: 0 5px 5px 0;
   margin-left: 10px;
   padding: 0 5px;
}
.arrow_box:after {
   right: 100%;
   top: 41%;
   border: solid transparent;
   content: "";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
   border-color: rgba(11, 2, 71, 0);
   border-right-color: #0b0247;
   border-width: 10px;
   margin-top: -8px;
}