<ion-tabs>
  <ion-tab-bar slot="bottom,top">
    <ion-tab-button tab="dashboard">
      <ion-icon name="cube-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="account-setting" [disabled]=true>
      <ion-icon name="construct-outline"></ion-icon>
      <ion-label>Account Setting</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="withdraw" [disabled]=true>
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>Withdraw</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="purchase-flow" [disabled]=true>
      <ion-icon name="shuffle-outline"></ion-icon>
      <ion-label>Purchase Flow</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="netwoking">
      <ion-icon name="globe-outline"></ion-icon>
      <ion-label>Networking</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>