<ion-header>
  <app-header [pageTitle]="title" [headcolor]="headcolor"></app-header>
</ion-header>

<ion-content color="primary" class=" ion-padding">
  <div class="ion-text-center">
  <h1 class=" ion-text-center">Our Mining Farm</h1>
  <ion-text class=" ion-text-center ion-text-justify">We have established our biggest Cryptocurrency Mining setup in Chhattisgarh, India. Cryptohashh as an organization welcomes all our investors and future investors to visit our mining farm.</ion-text>
  </div>
  <div class="ion-text-center ion-padding">
    <img src="assets/icon/24-hours.png" width="45"> 
 <h5>24/7 MINING RUNNING</h5> 
 <ion-text class=" ion-text-center ion-text-justify">
  Mining is not stopping, your crypto is being generated every second
 </ion-text>
</div>
    <div class="ion-text-center ion-padding">
      <img src="assets/icon/icon_2.png" width="45"> 
      <h5>SECURE SETUP</h5> 
        <ion-text class=" ion-text-center ion-text-justify">
          Cooling and Fire Protection system put in place to make the whole setup secure
        </ion-text>
    </div>
    <div class="ion-text-center ion-padding">
      <img src="assets/icon/buying.png" width="45"> 
      <h5>ON-SITE VISIT</h5> 
        <ion-text class=" ion-text-center ion-text-justify">
          We have a facility where investor can visit our mining site anytime
        </ion-text>
    </div>
    <div class="ion-text-center ion-padding">
      <img src="assets/icon/low-cost.png" width="45"> 
      <h5>LOW INFRASTRUCTURE COST</h5> 
        <ion-text class=" ion-text-center ion-text-justify">
          We have a minimal infrastructure cost for our investors
        </ion-text>
    </div>
</ion-content>
