<ion-header>
  <app-header [pageTitle]="title" [headcolor]="headcolor"></app-header>
</ion-header>

<ion-content color="primary" class=" ion-padding">

  <h2>What is Blockchain and Cryptocurrency?</h2>
<ion-text class=" ion-padding-end">
  Blockchain is the technology that enables the existence of cryptocurrency (among other things). 
A cryptocurrency is a medium of exchange, such as the US dollar, but is digital and uses encryption techniques to control the creation of monetary units and to verify the transfer of funds; but apart from the medium of exchange it can be a platform for making decentralized application, it can be a store of value like gold, cryptocurrency domain is very vast.

</ion-text>

<ion-slides pager="true"    [options]="slideOpts">
  <ion-slide>
    <img src="assets/knowmining1.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="assets/knowmining2.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="assets/knowmining3.jpg" alt="">
</ion-slide>


</ion-slides>

  
  <h2>What is Cryptocurrency Mining?</h2>
 <ion-text>Crypto mining refers to the process of gaining cryptocurrencies by solving cryptographic equations with the use of high-power computers. The solving process comprises verifying data blocks and adding transaction records to a public record (ledger) known as a blockchain.</ion-text>
<img src="assets/knowmining5.jpg" alt="">
 <h2>What is GPU Mining.</h2>
<ion-text>
  
GPU mining involves the use of a gaming computer’s graphics processing unit to solve complex math problems to verify electronic transactions on a blockchain.
Normally, to mine a cryptocurrency, digital coins must be built on a blockchain architecture that supports proof-of-work (PoW) mining. Cryptocurrencies like Bitcoin (BTC), Ethereum (ETH), Monero (XMR), Litecoin (LTC), and Dogecoin (DOGE) are examples of coins that can be mined.

</ion-text>
<h2>What is Hash Power?</h2>
<ion-text>
  More simply, it is the speed of mining. It is measured in units of hash/second, meaning how many calculations per second can be performed. ... In the case of Bitcoin, the hashrate indicates the number of times hash values are calculated for PoW every second.
</ion-text>
<img src="assets/knowmining6.jpg" alt="">
<h2>How do I earn money with Cloud Mining?</h2>
<ion-text>
  Yes, we strongly believe that mining is profitable and Mining is the best way to get cryptocurrencies at a cost price. Mining is the best long-term investment.
</ion-text>

</ion-content>
