<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Know Mining</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
    
      <ion-card-title>Crypto Currency Mining</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="text-justify">
     <p> We are world’s leading crypto mining organization and most successful in India. As the future is digital and it’s growing rapidly, we as an organization, Cryptohashh started our journey in 2019 and our investors are growing exponentially across the globe.</p>

      <p>Cryptocurrency Mining is the most popular method of earning now-a-days. So, you invest in mining and get the extreme ROI out of it. We are dealing in Bitcoin, Ethereum, ZCash and LiteCoin currently.</p>
      
      <p>We are happy that we are part of digital world of Crypto and helping our investors to earn more & more.</p>
    </ion-card-content>
  </ion-card>
  
</ion-content>
