<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button color="clear" (click)="dismiss()">
        <ion-icon color="tertiary" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
    [formGroup]="addforgotPasswordForm"
    (ngSubmit)="onClickForgotPassword()"
    *ngIf="!showOpt"
  >
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="6">
          <ion-img
            src="assets/logo.png"
            class="img-cricle"
            alt="logo-image"
          ></ion-img>
        </ion-col>
      </ion-row>
      <h3 class="ion-text-center text-white">Forgot Password</h3>
      <ion-grid>
        <ion-row
          class="ion-padding-start ion-padding-end ion-justify-content-center"
        >
          <ion-col size="12">
            <ion-input
              type="text"
              formControlName="email"
              placeholder="Email ID *"
            ></ion-input>
          </ion-col>
          <p
            *ngIf="addforgotPasswordForm.controls['email'].touched && addforgotPasswordForm.controls['email'].hasError('required')"
          >
            Email is required
          </p>
          <p
            *ngIf="addforgotPasswordForm.controls['email'].hasError('pattern')"
          >
            Enter valid Email Id for example "example@abc.com"
          </p>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row
          class="ion-padding-start ion-padding-end ion-justify-content-center"
        >
          <ion-col>
            <ion-button
              type="submit"
              [disabled]="addforgotPasswordForm.invalid"
              expand="block"
              color="tertiary"
            >
              Submit</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-grid>
  </form>
  <form [formGroup]="addVerifyOtp" *ngIf="showOpt">
    <ion-grid class="background-color">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="10">
          <h5>VERIFY EMAIL</h5>
          <ion-text><small>OTP sent to your Email ID</small></ion-text>
        </ion-col>

        <ion-col size="2">
          <ion-img
            src="assets/icon/message-on-phone.svg"
            alt="logo-image"
          ></ion-img>
        </ion-col>

        <ion-grid>
          <ion-grid>
            <ion-row
              class="
                ion-padding-start ion-padding-end ion-justify-content-center
              "
            >
              <ion-col size="12" class="ion-text-center">
                <ion-input
                  appIntegerInputDirective
                  inputmode="numeric"
                  type="text"
                  pattern="[0-9]*"
                  maxlength="4"
                  formControlName="otp"
                  placeholder="OTP *"
                ></ion-input>
              </ion-col>
            </ion-row>
            <ion-row
              class="
                ion-padding-start ion-padding-end ion-justify-content-center
              "
            >
              <ion-col size="12">
                <ion-input
                  type="Password"
                  formControlName="password"
                  placeholder="Password *"
                ></ion-input>
              </ion-col>
              <p
                *ngIf="addVerifyOtp.controls['password'].touched && addVerifyOtp.controls['password'].hasError('required')"
              >
                Password Name is required
              </p>
              <ion-col size="12">
                <ion-input
                  type="Password"
                  formControlName="confirmPassword"
                  placeholder="Confirm Password *"
                ></ion-input>
              </ion-col>

              <p
                *ngIf="addVerifyOtp.controls['confirmPassword'].touched && addVerifyOtp.controls['confirmPassword'].hasError('required')"
              >
                Confirm Password Name is required
              </p>

              <p
                *ngIf="addVerifyOtp.controls['confirmPassword'].touched && addVerifyOtp.controls['confirmPassword'].hasError('NoPassswordMatch')"
              >
                Password and Confirm Password Must Match
              </p>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row
              class="
                ion-padding-start ion-padding-end ion-justify-content-center
              "
            >
              <ion-col>
                <ion-button
                  type="button"
                  expand="block"
                  color="tertiary"
                  (click)="onOtpVerify()"
                  [disabled]="addVerifyOtp.invalid"
                >
                  Verify</ion-button
                >
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-grid>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
