<ion-header>
  <app-header [pageTitle]="title" [headcolor]="headcolor"></app-header>
</ion-header>

<ion-content color="primary" class=" ion-padding">
  <h1 class=" ion-text-center ion-text-justify">Our Mining Farm</h1>
  <ion-text class=" ion-text-center ion-text-justify">We have established our biggest Cryptocurrency Mining setup in Chhattisgarh, India. Cryptohashh as an organization welcomes all our investors and future investors to visit our mining farm.</ion-text>
<div class="ion-text-center">
    <img src="assets/icon/24-hours.png" width="45"> -->
 <h5>24/7 MINING RUNNING</h5> 
</div>
</ion-content>
