<ion-header>
  <app-header [pageTitle]="title" [headcolor]="headcolor"></app-header>
</ion-header>

<ion-content color="primary" class=" ion-padding">
  <div class="ion-text-center">
  <h1 class=" ion-text-center">Our Amazing Features</h1>
  <ion-text class=" ion-text-center ion-text-justify">We are rapid growing company in a crypto world across the globe. We have some amazing features for our investors</ion-text>
  </div>
  <div class="ion-text-center ion-padding">
    <img src="assets/icon/f2.png" width="45"> 
 <h5>Fast Transaction</h5> 
 <ion-text class=" ion-text-center ion-text-justify">
  we have very simple and fast purchase & withdraw process.
 </ion-text>
</div>
    <div class="ion-text-center ion-padding">
      <img src="assets/icon/f3.png" width="45"> 
      <h5>Secure and Stable</h5> 
        <ion-text class=" ion-text-center ion-text-justify">
          We have completely secure transaction & stable process. Our investors trust on us.
        </ion-text>
    </div>
    <div class="ion-text-center ion-padding">
      <img src="assets/icon/f4.png" width="45"> 
      <h5>Instant Trading “Crypto Exchange Coming Soon” </h5> 
        <ion-text class=" ion-text-center ion-text-justify">
          Trade with ZERO Transaction Fee. 
        </ion-text>
    </div>
    <div class="ion-text-center ion-padding">
      <img src="assets/icon/s03.png" width="45"> 
      <h5>Business Opportunity</h5> 
        <ion-text class=" ion-text-center ion-text-justify">
          Unlimited & Multiple Earning opportunity for Investors through referral program .
        </ion-text>
    </div>
    <div class="ion-text-center ion-padding">
      <img src="assets/icon/s04.png" width="45"> 
      <h5>Mobile Apps</h5> 
        <ion-text class=" ion-text-center ion-text-justify">
          Handling all your mining process – Purchase, Payout, Withdraw in your fingertips.
        </ion-text>
    </div>
    <div class="ion-text-center ion-padding">
      <img src="assets/icon/f5.png" width="45"> 
      <h5>Low Maintenance cost</h5> 
        <ion-text class=" ion-text-center ion-text-justify">
          Low maintenance and infrastructure cost as per the market.
        </ion-text>
    </div>
    <div class="ion-text-center ion-padding">
      <img src="assets/icon/f6.png" width="45"> 
      <h5>Daily Payout</h5> 
        <ion-text class=" ion-text-center ion-text-justify">
          we provide daily payout in your respective crypto. So that, as per your need you can withdraw quickly.
        </ion-text>
    </div>
    <div class="ion-text-center ion-padding">
      <img src="assets/icon/s05.png" width="45"> 
      <h5>24/7 support</h5> 
        <ion-text class=" ion-text-center ion-text-justify">
          we have 24/7 support available for our valuable investors.
        </ion-text>
    </div>
 
</ion-content>
