<ion-header class="ion-no-border">
  <ion-toolbar color="primary"> </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <div class="ion-padding">
    <h2>Silver</h2>
    <p>Payment Summary</p>
  </div>

  <ion-list color="primary">
    <ion-item color="primary" lines="full">
      <ion-text slot="end">OPFCO{{transactionID}}</ion-text>
    </ion-item>
    <!-- <ion-item color="tertiary" lines="full">
      <ion-label>Buy MH</ion-label>
      <ion-text slot="end">{{buyMH}}</ion-text>
    </ion-item>
    <ion-item color="tertiary" lines="full">
      <ion-label>Price</ion-label>
      <ion-text slot="end">{{buyMH * 3000}}</ion-text>
    </ion-item>
    <ion-item color="primary" lines="full">
      <ion-label slot="start">Discount</ion-label>
      <ion-text slot="start" color="success"
        >{{purchasePlanDetails?.discount}}%</ion-text
      >
      <ion-text slot="end"
        >{{(buyMH * 3000 * purchasePlanDetails?.discount)/100}}</ion-text
      >
    </ion-item>
    <ion-item color="primary" lines="full">
      <ion-label slot="start">Maintence Charges</ion-label>
      <ion-text slot="start">{{purchasePlanDetails?.maintenanceper}}%</ion-text>
      <ion-text slot="end"
        >{{(buyMH * 3000 * purchasePlanDetails?.maintenanceper)/100}}</ion-text
      >
    </ion-item>
    <ion-item color="primary" lines="full">
      <ion-label slot="start">Total Amount</ion-label>
      <ion-text slot="end"
        >{{(buyMH * 3000 * purchasePlanDetails?.maintenanceper)/100}}</ion-text
      >
    </ion-item> -->
  </ion-list>

  <ion-button
    expand="block"
    class="ion-margin"
    color="tertiary"
    (click)="dismiss()"
    >Done</ion-button
  >
</ion-content>
