<ion-tabs>
  <ion-tab-bar slot="bottom,top">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="purchase-offer">
      <ion-icon name="pricetag-outline"></ion-icon>
      <ion-label>Purchase Offer</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="know-mining">
      <ion-icon name="color-fill-outline"></ion-icon>
      <ion-label>Know Mining</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="why-optimus">
      <ion-icon name="contract-outline"></ion-icon>
      <ion-label>Why Optimus</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="about-networking">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>About Networking</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>