<ion-tabs>
  <ion-tab-bar slot="bottom,top">
 
    <ion-tab-button tab="purchase-offer">
      <ion-icon name="pricetag-outline"></ion-icon>
      <ion-label>Plan & Offer</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="know-mining">
      <ion-icon name="color-fill-outline"></ion-icon>
      <ion-label>Know Mining</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="home">
      <img width="40" src="assets/logo.png" alt="">
      <!-- <ion-label>Home</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="why-optimus">
      <ion-icon name="contract-outline"></ion-icon>
      <ion-label>Why Us?</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="about-networking">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>About Referal</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>