table{ width:100%}
ion-item{ font-size: 13px;}
.ion-align-items-center{ vertical-align: middle;}
.text-align-right{ text-align: right !important;}
.box-radius{ color: #fff;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #041e37;}
ion-label{ margin: 4px;}
