<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <h2 class=" ion-text-center">WithDraw Detial </h2>
 <ion-item color="tertiary" lines="full">
 
    <ion-label>
      WithDraw date/time<br>
      22/09/2021 3:63 IST
    </ion-label>
    <ion-text slot="end" class=" text-align-right">Status<br>
      <ion-icon name="ellipse" class="ion-align-items-center" color="medium"></ion-icon> Proccess
    </ion-text>
  </ion-item>
  <ion-item color="primary" lines="full">
    <ion-label>
      Currency
    </ion-label>
    <ion-text slot="end" class=" ion-align-items-end" color="tertiary">ETH</ion-text>
  </ion-item>
  <ion-item color="primary" lines="full">
    <ion-label>
      QTY
    </ion-label>
    <ion-text slot="end" color="tertiary" class=" ion-align-items-end">5</ion-text>
  </ion-item>
  <ion-item color="primary" lines="full">
    <ion-label>
      Process Date & Time
    </ion-label>
    <ion-text slot="end" color="tertiary" class=" ion-align-items-end"> 22/09/2021 3:63 IST</ion-text>
  </ion-item>
  <ion-item color="tertiary" lines="full">
 
    <ion-label>
      WithDraw date/time<br>
      22/09/2021 3:63 IST
    </ion-label>
    <ion-text slot="end" class=" text-align-right">Status<br>
      <ion-icon name="ellipse" class="ion-align-items-center" color="success"></ion-icon> Approved
    </ion-text>
  </ion-item>
  <ion-item color="primary" lines="full">
    <ion-label>
      Currency
    </ion-label>
    <ion-text slot="end" class=" ion-align-items-end" color="tertiary">ETH</ion-text>
  </ion-item>
  <ion-item color="primary" lines="full">
    <ion-label>
      QTY
    </ion-label>
    <ion-text slot="end" color="tertiary" class=" ion-align-items-end">5</ion-text>
  </ion-item>
  <ion-item color="primary" lines="full">
    <ion-label>
      Process Date & Time
    </ion-label>
    <ion-text slot="end" color="tertiary" class=" ion-align-items-end"> 22/09/2021 3:63 IST</ion-text>
  </ion-item>


</ion-content>