<ion-header class="ion-no-border" [translucent]="true">
  <app-header [pageTitle]="title"></app-header>
</ion-header>

<ion-content color="primary">
  <div *ngIf="sharedService.checkLoginType">
    <ion-list color="primary">
      <ion-item color="primary" lines="full">
        <ion-label>Plan Type</ion-label>
        <ion-text slot="end">{{purchasePlanDetails?.planname}}</ion-text>
      </ion-item>
      <ion-item color="primary" lines="full">
        <ion-label>Discount</ion-label>
        <ion-text slot="end" color="success"
          >{{purchasePlanDetails?.discount}}%</ion-text
        >
      </ion-item>
      <ion-item color="primary" lines="full">
        <ion-label>Contract Period</ion-label>
        <ion-text slot="end">{{purchasePlanDetails?.contract}} Months</ion-text>
      </ion-item>
      <ion-item color="tertiary" lines="full">
        <ion-label>Buy MH</ion-label>
        <ion-input
          class="bg-input"
          type="text"
          placeholder="Buy MH"
          slot="end"
        ></ion-input>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label>Payment </ion-label>
      <ion-select interface="popover">
        <ion-select-option *ngFor="let option of paymentOptions">
          <h2>{{ option.value }}</h2>
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button
      expand="block"
      class="ion-margin"
      color="tertiary"
      (click)="onClickPaymentSummary()"
      >Check Out</ion-button
    >
  </div>
</ion-content>
