<ion-toolbar color="headcolor">
	<ion-title color="tertiary">{{pageTitle}}
		<p *ngIf="pageTitle=='Welcome to'" class=" ion-no-padding text-small  ion-no-margin">Cryptohashh</p>
	</ion-title>

	<ion-button *ngIf="islogeedIn" slot="end" class=" ion-no-padding" color="tertiary" fill="clear">
		<ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
	</ion-button>
	<ion-button  *ngIf="!islogeedIn" slot="end" fill="clear" color="tertiary" (click)='onClicklogin()'>
		<ion-icon slot="icon-only" name="exit"></ion-icon>
	</ion-button>
</ion-toolbar>
