<ion-toolbar color="primary">
  <ion-button
  slot="start"
  fill="clear"
  color="tertiary"
  class="ion-no-padding"
  *ngIf="islogeedIn"
  (click)="openFirst()"
><ion-icon name="menu-outline" slot="icon-only"></ion-icon>
 
</ion-button>
  <h3 class="ion-text-left header" color="tertiary">
    <img width="40" src="assets/logo.png" alt="" />
    <p>
      {{ pageTitle
      }}<span class="span" *ngIf="pageTitle === 'Cryptohashh'"
        >Cryptocurrency Mining and Trading Power</span
      >
    </p>
  </h3>
  <ion-button
    slot="end"
    fill="clear"
    color="tertiary"
    class="ion-no-padding"
    *ngIf="!isShowCloseButton"
    (click)="oncalculator()"
  >
    <ion-icon slot="icon-only" name="calculator-outline"></ion-icon>
  </ion-button>
  <ion-button
    *ngIf="islogeedIn && !isShowCloseButton"
    slot="end"
    class="ion-no-padding"
    color="tertiary"
    fill="clear"
  >
    <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
  </ion-button>
  <ion-button
    *ngIf="!islogeedIn"
    slot="end"
    fill="clear"
    color="tertiary"
    (click)="onClicklogin()"
  >
    <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
  </ion-button>
  <ion-button
    *ngIf="islogeedIn && !isShowCloseButton"
    (click)="onClickLogout()"
    slot="end"
    fill="clear"
    color="tertiary"
  >
    <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
    Logout
  </ion-button>

  <ion-button
    *ngIf="islogeedIn && isShowCloseButton"
    color="clear"
    slot="end"
    (click)="dismiss()"
  >
    <ion-icon color="tertiary" name="close-outline"></ion-icon>
  </ion-button>
</ion-toolbar>
