<ion-toolbar color="headcolor">
	
	<h3 class="ion-text-left header" color="tertiary"><img width="40" src="assets/logo.png" alt=""> {{pageTitle}}</h3>

	<ion-button *ngIf="islogeedIn" slot="end" class=" ion-no-padding" color="tertiary" fill="clear">
		<ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
	</ion-button>
	<ion-button  *ngIf="!islogeedIn" slot="end" fill="clear" color="tertiary" (click)='onClicklogin()'>
	<ion-icon  slot="icon-only"name="log-in-outline"></ion-icon>
	</ion-button>
	<ion-button  *ngIf="islogeedIn" slot="end" fill="clear" color="tertiary"(click)='onClickLogout()'>
			<ion-icon  slot="icon-only" name="log-out-outline"></ion-icon>
		</ion-button>
</ion-toolbar>
