<ion-header>
  <app-header [pageTitle]="title" [headcolor]="headcolor"></app-header>
</ion-header>

<ion-content color="primary" class="ion-padding">
  <ion-text class="ion-text-center ion-text-justify">
    Unlimited & Multiple Earning opportunity for Investors through our referral program.
    Refer investors and earn big in term of Cashback and MegaHash.
  </ion-text>
  <h4 class="ion-text-center">Feature of Referral Program</h4>
  <div class="referralbox">
    <div class="center">
      1
    </div>

    <h3>Invert small and earn big.</h3>

  </div>
  <div class="referralbox">
    <div class="center">
      2
    </div>

    <h3>Refer investors and earn incentive in Cash as well as in MegaHash.</h3>
  </div>
  <div class="referralbox">
    <div class="center">
      3
    </div>

    <h3>Use your incentive to buy MegaHash further.</h3>


  </div>
  <div class="referralbox">
    <div class="center">
      4
    </div>

    <h3>Get incentive up to 5 Levels.</h3>


  </div>
  <h4 class="heading_style2">Referral Steps:</h4>
  <ul class="ul-list">
    <li>Nvest Small &amp; become a member.
     </li>
     <li>Refer investors.
     </li>
     <li>Get the referral bonus in Cash and MegaHash.</li>
</ul>

</ion-content>