<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    </ion-toolbar>
    </ion-header>

<ion-content color="primary" class=" ion-text-center">
  <div  class=" ion-text-center">
    <ion-icon name="checkmark-circle-outline" class="large-font" color="success"></ion-icon>
  </div>

  <ion-text>Your Purchase Was Successfully!</ion-text>
  <p>152 ETH Will be available in your LTH Wallet
    on Saturday, 10/28/2021 </p>
    <ion-button color="tertiary" class=" ion-margin">Go Dashboard</ion-button>

</ion-content>
