<ion-header class="ion-no-border">
  <ion-toolbar class="background-color">

    <!-- <ion-buttons slot="start">
      <ion-back-button text="" size="small" color="dark" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons> -->


  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="verifyOtpDetail"  (ngSubmit)="onVerifyOtp()">
  <ion-grid class="background-color">
    <ion-row class=" ion-justify-content-center ion-align-items-center">
      <ion-col size="10">
        <h5>VERIFY EMAIL</h5>
        <ion-text><small>OTP send to your Email</small></ion-text>

      </ion-col>

      <ion-col size="2">
        <ion-img src="assets/icon/message-on-phone.svg" alt="logo-image"></ion-img>
      </ion-col>

  
    <ion-grid>
     
      <ion-grid>
        <ion-row class="ion-padding-start ion-padding-end ion-justify-content-center">

          <ion-col size="12" class=" ion-text-center">
            <ion-input type="text" pattern="[0-9]*" maxlength="4" formControlName="optDetail" ></ion-input>
          </ion-col>

        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row class="ion-padding-start ion-padding-end ion-justify-content-center">
          <ion-col>
            <ion-button type="submit" [disabled]="verifyOtpDetail.invalid" expand="block" color="tertiary">
              Verify</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-grid>
    </ion-row>
    </ion-grid>
  </form>
</ion-content>
