ion-input{
    display: inline-block;
    width: 150px;
    height: 50px;
    margin: 10px; line-height: 30px;     --padding-start: 0px;
   
    --background: #fafafa;
    font-size: 26px;
    text-align: center;
    border: 1px solid #ececec;
    }
.background-color{--background: #ffffff;}
.background-color{background: #ffffff;}