<ion-header>
  <app-header [pageTitle]="title"></app-header>
</ion-header>

<ion-content class="ion-text-center">
  <img src="assets/message.png" alt="mail" class=" ion-margin-top top-120">

  <p class="ion-text-center">support@cryptohashh.com</p>
  <p class="ion-text-center">https://cryptohashh.com</p>


      <ion-list color="primary" class="ion-no-padding">
        <!-- <ion-item color="primary">
          <ion-icon
            name="location-outline"
            class="margin-top0"
            slot="start"
          ></ion-icon>

          <ion-label
            ><p>
              Gauri Ward no. 29 Behind Police line,<br />
              Ambikapur (C.G)
            </p></ion-label
          >
        </ion-item>
        <ion-item color="primary">
          <ion-icon
            name="call-outline"
            class="margin-top0"
            slot="start"
          ></ion-icon>
          <ion-label><p>7647862468</p></ion-label>
        </ion-item> -->
        <!-- <ion-item>
          <ion-icon
            name="mail-outline"
            class="margin-top0"
            slot="start"
          ></ion-icon>
          <ion-label><p>support@cryptohashh.com</p></ion-label>
        </ion-item>
        <ion-item>
          <ion-icon
            name="globe-outline"
            class="margin-top0"
            slot="start"
          ></ion-icon>
          <ion-label><p>https://cryptohashh.com</p></ion-label>
        </ion-item> -->
      </ion-list>
 
</ion-content>
