.bg-input{ background: #fff;}
ion-card{     display: block;
    width: 100%;
    margin: 0;
    border-radius: 6px;
    text-align: center;
    margin-top: 6px;}
sub{font-size: 10px; bottom: 0;}
.ion-no-margin{ margin: 0;}
ion-text{ font-size: 20px; }