<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <h2 class=" ion-text-center">Payout Detial </h2>
  <ion-card>
    <ion-card-content>
      <ion-item  lines="full">
        <ion-label>1. Suraj
        </ion-label>
        <ion-text slot="end" class=" text-align-right">
          1MH
        </ion-text>
      </ion-item>
      <ion-item  lines="full">
        <ion-label>
          Date/time
        </ion-label>
        <ion-text slot="end" class=" ion-align-items-end">18/9/2021 3PM</ion-text>
      </ion-item>
      <ion-item  lines="full">
        <ion-label>2. Jiwan
        </ion-label>
        <ion-text slot="end" class=" text-align-right">
          1MH
        </ion-text>
      </ion-item>
      <ion-item  lines="full">
        <ion-label>
          Date/time
        </ion-label>
        <ion-text slot="end" class=" ion-align-items-end" >18/9/2021 3PM</ion-text>
      </ion-item>

</ion-card-content>
</ion-card>

</ion-content>