#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.text-large{ font-size: 28px;color: #e9d16f}
.sc-ion-label-ios-s h2 {
  font-size: 12px;

}
.sc-ion-label-ios-s p {
  font-size: 12px;

}
h4 {
  font-size: 12px;
}
ion-item{
ion-img{ width: 22px;}
  }