<ion-header class="ion-no-border" [translucent]="true">
  <app-header [pageTitle]="title" [headcolor]="headcolor"></app-header>
</ion-header>

<ion-content color="primary" [fullscreen]="true">
  <ng-marquee scrolldirection="left" speed="normal" duration="90s">
    <ul class="d-flex">
      <li
        color="secondary"
        lines="full"
        class="d-flex"
        *ngFor="let item of fetchedcoinDetail"
      >
        <h3 class="ion-no-margin">{{item.symbol.replace("USDT", " ₹")}}</h3>
        <p class="text-normal">
          {{item.lastPrice * 74 | number : '1.2-2'}}<ion-icon
            name="{{item.priceChangePercent > 0 ? 'caret-up-outline' : 'caret-down-outline'}}"
            [color]="item.priceChangePercent > 0 ? 'success' : 'danger'"
          ></ion-icon
          >{{item.priceChangePercent*74| number : '1.2-2'}} %
        </p>
      </li>
    </ul>
  </ng-marquee>
  <div class="ion-padding ion-text-center">
    <h1 class="ion-no-margin">Crypto Currency Mining</h1>
    <p>
      Cryptocurrency Mining is the most profitable method of earning now-a-days.
      <br />Start mining today and get the most ROI out of it.
    </p>
  </div>
  <img src="{{bannerUrl}}" alt="" />
</ion-content>
