<ion-header class="ion-no-border" [translucent]="true">
  <app-header [pageTitle]="title" [headcolor]="headcolor"></app-header>
</ion-header>

<ion-content color="primary" [fullscreen]="true">
  <ng-marquee scrolldirection="left" speed="normal" duration="90s">
    <ul class="d-flex">
      <li
        color="secondary"
        lines="full"
        class="d-flex"
        *ngFor="let item of fetchedcoinDetail"
      >
        <h3 class="ion-no-margin">{{item.symbol.replace("USDT","")}} <span class="padding-left-5">₹</span></h3>
        <p class="text-normal">
          {{item.lastPrice * dollorPrice | number : '1.1-4'}} <ion-icon
            name="{{item.priceChangePercent > 0 ? 'caret-up-outline' : 'caret-down-outline'}}"
            [color]="item.priceChangePercent > 0 ? 'success' : 'danger'"
          ></ion-icon
          >{{item.priceChangePercent| number : '1.2-2'}} %
        </p>
      </li>
    </ul>
  </ng-marquee>
  <div class="ion-text-center">
    <ion-slides pager="true"    [options]="slideOpts2">
      <ion-slide>
        <img src="assets/hslider1.jpeg" class="img-radius" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/hslider2.jpeg" class="img-radius" alt="">
    </ion-slide>
  
    <ion-slide>
      <img src="assets/hslider4.jpeg" class="img-radius" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/hslider5.jpeg" class="img-radius" alt="">
    </ion-slide>
    
    
    </ion-slides>
  </div>

  <img src="{{bannerUrl}}" alt="" />
</ion-content>
